@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*
font-family: 'Vidaloka', serif;
font-family: 'Roboto', sans-serif;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.b {
border : 8px solid yellow;
}

/* MAKING HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 2% 8% 80% 8% 2%;
  color: black;
  z-index: 50;
  background-color: white;
}
header .menu-bar , .side-icons {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
header .menu-bar span {
  font-size: 40px;
}
header .side-icons span {
  margin-left: 15px;
  font-size: 28px;
}
header .brand-name {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

}
header .brand-name h1 {
  font-weight: 500;
  letter-spacing: -1px;
}
.side-menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100vh;
  z-index: 51;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 110px;
  padding-left: 25px;
  padding-right: 50px;
  display: none;
}
.side-menubar h6{
  display: block;
  margin-bottom: 50px;
  font-size: 15px;
}
.side-menubar h1 {
  font-weight: 500;
  letter-spacing: -2px;
  margin: 10px 0;

}
.side-menubar .signup{
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0px;

}
.view-list{
  display: none;
  transition: 0.5s;
}
.women-list , .men-list , .kids-list , .sb-list {
  list-style-type: none;
  font-size: 15px;
  padding-left: 6%;
}


/* CONTENT PART */

.content {
  position: absolute;
  top:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closed {
  font-family: 'Oswald' , sans-serif;
  font-size: 12px;
  width: 50%;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.m-pic1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 100px auto;
  margin-bottom: 150px;
}
.m-pic1 img {
  width: 100%;
  height: auto;
}
.m-pic11 {
  width: 100%;
  display: grid;
  height: calc(100vh - 100px);
  grid-template-columns: 2.5% 23% 1% 23% 1% 23% 1% 23% 2.5%;
  grid-column-gap: 0;
}
.m-pic11 img {
  width: 100%;
}
.text h4{
  font-family: 'Oswald' , sans-serif;
  letter-spacing: 2px;
  padding: 3px 0;
}
.text  p {
  font-family: 'Roboto' , sans-serif;
  letter-spacing: 1px;
  padding: 3px 0;
}




.part-2 {
  display:grid;
  grid-template-columns: 10% 50% 25% 15%;
  width: 100%;
  height:auto;
  margin-top: 100px;
  margin-bottom: 200px;
  grid-gap: 5%;
}
.part-2 img {
  width: 100%;
}
.part-2-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.part-2-text h3 {
  font-family: 'Oswald' , sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 2%;
}
.part-2-text  p {
  font-family: 'Roboto' , sans-serif;
  letter-spacing: 1px;
  padding: 2%;
}


.footer {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  margin-top: 150px;
  background-color:  #f2f2f2;
  padding-top: 3%;
}
.footer h4 {
  font-family: 'Oswald' , sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 8% 0;
}
.footer ul {
  list-style-type: none;
  font-family: 'Roboto' , sans-serif;
  letter-spacing: 1px;
}
.footer ul li {
  margin-bottom: 1%;
}

.mobile-footer {
  display: none;
  width: 90%;
  height: 50vh;
  margin-top: 40%;
  flex-direction: column;
  align-items: center;
}
.mobile-footer h4{
  font-family: 'Oswald' , sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 8% 0;
}
.mobile-footer ul {
  list-style-type: none;
  font-family: 'Roboto' , sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.mobile-footer ul li {
  margin: 5%;
}
