@media only screen and (max-width: 1024px) {

  .pc {
    display: none;
  }
  .mobile{
    display: block;
  }

  .h {
    display: none;
  }

  header {
    height: 60px;
  }
  header .menu-bar span {
    font-size: 25px;
  }
  header .brand-name {
    font-size: 0px;
  }
  header .side-icons span {
    margin-left:20%;
    font-size: 22px;
    position: relative;
    right: 120%;
  }
  .side-menubar {
    font-size: 12px;
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 50px;
  }
  .side-menubar h1 {
    margin: 5% 0;
  }
  .side-menubar .signup{
    font-size: 15px;
  }
  .women-list , .men-list , .kids-list , .sb-list {
    font-size: 15px;
  }

  .closed {
    text-align: justify;
    font-size: 10px;
    width: 90%;
  }
  .part1 {
    grid-template-columns: 100%;
  }
  .content {
    width: 96%;
    height: auto;
    margin:0 auto;
  }
  .content h4 {
    font-size: 23px;
  }
  .content p {
    width: 90%;
    font-size: 12px;
  }
  .content ul {
    width: 90%;
    font-size: 15px;
  }
  .content ul li {
    padding:7px 5px;
  }
  .similar h1 {
    margin-top: 100px;
    font-size: 30px;
  }

  .m-pic11 {
    width: 90%;
    grid-template-columns: 49% 2% 49%;
    height: calc(100vh - 60px);
    margin: 30px auto;
  }
  .text {
    margin-bottom: 20px;
  }
  .text h4{
    font-size: 12px;
  }
  .text  p {
    font-size: 11px;
  }


  .mobile-footer {
    display: flex;
  }



}
