@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*
font-family: 'Vidaloka', serif;
font-family: 'Roboto', sans-serif;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.b {
border : 8px solid yellow;
}

.mobile {
  display: none;
}
.pc {
  display: block;
}

/* MAKING HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 2% 8% 80% 8% 2%;
  color: black;
  z-index: 50;
}
header .menu-bar , .side-icons {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
header .menu-bar span {
  font-size: 40px;
}
header .side-icons span {
  margin-left: 15px;
  font-size: 28px;
}
header .brand-name {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

}
header .brand-name h1 {
  font-weight: 500;
  letter-spacing: -1px;
}
.side-menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100vh;
  z-index: 51;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 90px;
  padding-left: 25px;
  padding-right: 50px;
  display: none;
}
.side-menubar h1 {
  font-weight: 500;
  letter-spacing: -2px;
  margin: 10px 0;
}
.side-menubar h6{
  display: block;
  margin-bottom: 50px;
  font-size: 15px;
}
.side-menubar .signup{
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0px;

}
.view-list{
  display: none;
  transition: 0.5s;
}
.women-list , .men-list , .kids-list , .sb-list {
  list-style-type: none;
  font-size: 15px;
  padding-left: 6%;
}

.footer {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  margin-top: 150px;
  background-color:  #f2f2f2;
  padding-top: 3%;
}
.footer h4 {
  font-family: 'Oswald' , sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 8% 0;
}
.footer ul {
  list-style-type: none;
  font-family: 'Roboto' , sans-serif;
  letter-spacing: 1px;
}
.footer ul li {
  margin-bottom: 1%;
}


/* CONTENT PART */


.part1 {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.part1 img {
  width: 100%;
}
.content  {
  width: 70%;
  height: calc(100vh - 100px);
  margin: 100px auto;
  padding-left: 10%;
}
.content h4 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: 'Oswald' , sans-serif;
}
.content h5 {
  font-size: 25px;
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
}
.content span {
  font-size: 13px;
  display: block;
  margin-bottom: 30px;
  font-family: 'Roboto' , sans-serif;
  color:#bfbfbf
}
.content p {
  width: 80%;
  text-align: justify;
  font-size: 17px;
  display: block;
  margin-bottom: 20px;
  font-family: 'Roboto' , sans-serif;
}
.content ul {
  width: 80%;
  list-style-type: none;
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
  font-family: 'Roboto' , sans-serif;
}
.content ul li {
  padding:7px 5px;
}
.content ul li:hover {
  background-color: #bfbfbf;
  transition: 0.4s;
}
.content a {
  text-decoration: none;
  display: block;
  background-color: black;
  width: 80%;
  padding: 5% 3%;
  margin:10px 0;
  text-align: center;
  color: white;
  font-family: 'Roboto' , sans-serif;
}

.similar h1 {
  padding-left: 2.5%;
  font-family: 'Roboto' , sans-serif;
  display: block;
  margin-top: 150px;
  font-size: 40px;
}
.m-pic11 {
  width: 100%;
  display: grid;
  height: calc(100vh - 100px);
  grid-template-columns: 2.5% 23% 1% 23% 1% 23% 1% 23% 2.5%;
  grid-column-gap: 0;
  margin-top: 50px;
}
.m-pic11 img {
  width: 100%;
}
.text h4{
  font-family: 'Oswald' , sans-serif;
  letter-spacing: 2px;
  padding: 3px 0;
}
.text  p {
  font-family: 'Roboto' , sans-serif;
  letter-spacing: 1px;
  padding: 3px 0;
}








.mobile-footer {
  display: none;
  width: 90%;
  height: 50vh;
  margin-top: 70%;
  flex-direction: column;
  align-items: center;
}
.mobile-footer h4{
  font-family: 'Oswald' , sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 8% 0;
}
.mobile-footer ul {
  list-style-type: none;
  font-family: 'Roboto' , sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.mobile-footer ul li {
  margin: 5%;
}
